@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 22 100% 80%;
    --foreground: 0 0% 3.9%;

    --card: 22 100% 80%;
    --card-foreground: 0 0% 3.9%;

    --popover: 22 100% 80%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  /* IMPORTANTISIMO ESTO
  https://github.com/shadcn-ui/ui/issues/313#issuecomment-1676513456
  
  */
  /* :root[class~="dark"] {
    --background: 0 0% 3.9% / 20%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9% / 20%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9% / 20%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98% / 20%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9% / 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9% / 20%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9% / 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6% / 20%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9% / 20%;
    --input: 0 0% 14.9% / 20%;
    --ring: 0 0% 83.1% / 20%;
  } */

  /* :root[class~="dark"] {
    --gradient: #e0eafc;

    --background: 199 100% 87%;
    --foreground: 232 8.2% 99.65%;

    --muted: 199 100% 87%;
    --muted-foreground: 232 8.2% 59.3%;

    --popover: 232 48.6% 12.09%;
    --popover-foreground: 232 8.2% 99.65%;

    --card: 232 48.6% 12.09%;
    --card-foreground: 232 8.2% 99.65%;

    --border: 199 100% 87%;
    --input: 199 100% 87%;

    --primary: 232 82% 93%;
    --primary-foreground: 232 8.2% 9.3%;

    --secondary: 199 100% 87%;
    --secondary-foreground: 232 8.2% 99.65%;

    --accent: 199 100% 87%;
    --accent-foreground: 232 8.2% 99.65%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 232 8.2% 99.65%;

    --ring: 232 82% 93%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}

body {
  min-height: 100vh;
}

/* Editor css */
.bn-mantine {
  --bn-colors-side-menu: #505050;
  --bn-colors-hovered-background: rgba(0, 0, 0, 0.05);
}
.bn-editor {
  @apply bg-transparent text-foreground;
  padding: 1rem;
  border-radius: var(--radius);
}
